.PastryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    height: 60vh;
    width: 100%;
    overflow: auto;

}

.PastryImageLogo {

    display: flex;
    align-items: center;
    justify-content: center;

}

.PastryImageLogo img {
    /* width: 420px; */
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: contain;
}

.PasteryDetails {
    height: 50vh;
    padding: 10px;
    color: black;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}